name: Terraform Multi-Cloud Deploy

on:
  workflow_call:
    inputs:
      cloud-provider:
        description: 'Target cloud provider (aws, gcp, azure)'
        required: true
        type: string

jobs:
  terraform-deploy:
    name: Terraform Deploy - ${{ inputs.cloud-provider }}
    runs-on: ubuntu-latest
    
    steps:
      - name: Validate Cloud Provider
        run: |
          if [[ "${{ inputs.cloud-provider }}" != "aws" && "${{ inputs.cloud-provider }}" != "gcp" && "${{ inputs.cloud-provider }}" != "azure" ]]; then
            echo "Error: Invalid cloud provider '${{ inputs.cloud-provider }}'. Must be one of: aws, gcp, azure"
            exit 1
          fi
          echo "Valid cloud provider: ${{ inputs.cloud-provider }}"